@page
@model AM.Presentation.MVCCore.Areas.Admin.Pages.testModel

<p><3423erwtergergergherer</p>
<p><3423erwtergergergherer</p>
<p><3423erwtergergergherer</p>
<p><3423erwtergergergherer</p>
<p><3423erwtergergergherer</p>
<p><3423erwtergergergherer</p>
<p><3423erwtergergergherer</p>
@{
}
